.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 512px;
  padding-top: 128px;
  padding-bottom: 64px;
  margin: 0 auto;
}

.heading {
  display: flex;
  gap: 10px;
  align-items: baseline;
  width: 100%;
  margin-bottom: 4px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--gray-12);
}

.versionContainer {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--crimson-9);
}

.version {
  color: var(--crimson-9);
  transition: opacity 0.15s;
}

.version:hover {
  opacity: 0.7;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip: rect(0, 0, 0, 0);
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray-11);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  padding-top: 24px;
}

.sectionTitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--gray-12);
}

@media (max-width: 560px) {
  .page {
    padding: 64px 16px;
  }
}
