.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  padding: 12px 16px;
  margin-top: 24px;
  background: var(--gray-2);
  border-radius: 10px;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  min-height: 256px;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: inherit;
  cursor: pointer;
  background: var(--crimson-9);
  border: none;
  border-radius: 100px;
}

.button:hover {
  background: var(--crimson-10);
}

.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--crimson-8);
}

.wrapper {
  white-space: nowrap;
}

.text {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--gray-1);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  width: 100%;
}

.tabs {
  display: flex;
  gap: 8px;
}

.tab {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-8);
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 6px;
  transition: color 0.15s;
}

.tab:hover {
  color: var(--gray-11);
}

.tab[data-active] {
  color: var(--gray-12);
}

.control {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-8);
}

.input {
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  color: var(--gray-10);
  text-align: right;
  outline: none;
  transition: color 0.2s ease;
}

.input:focus {
  color: var(--gray-12);
}

@media (max-width: 560px) {
  .root {
    height: 200px;
  }
}

.divider {
  height: 1px;
  background: var(--gray-3);
}
